p {
  font: Georgia;
}

h1 {
  background-color: #bbbbbb;
  color: #000088;
}

h3 {
  font-size:12px; background-color: #dddddd; color:blue;
}

body {
  font-family: serif;
  background-color: #aaabcb;
}
