{% extends 'base.html' %}
{% load static %}
{% block menu %}
<hr>
<ul class="nav nav-pills flex-column mb-auto">
   <li class="nav-item">
      <a href="../../" class="nav-link text-white" aria-current="page">🏠 Home</a>
   </li>
</ul>
<hr>
{% endblock %}
{% block body %}

<div class="container">
   <div class="row">
      <div class="col-10 offset-1">
         <h1>Add Widget User</h1>
         <form action="{% url 'homepage:user-create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
               <label for="{{ form.last_name.id_for_label }}">Last Name</label>
               {{ form.last_name }} 
               <label for="{{ form.first_name.id_for_label }}">First Name</label>
               {{ form.first_name }} 
               <label for="{{ form.middle_name.id_for_label }}">Middle Name</label>
                  {{ form.middle_name }}
               <label for="{{ form.id_num.id_for_label }}">ID #</label>
               {{ form.id_num }} 
               <label for="{{ form.email.id_for_label }}">Email</label>
               {{ form.email }}
               <label for="{{ form.department.id_for_label }}">Department Name</label>
               {{ form.department }} 
               <label for="{{ form.profile_image.id_for_label }}">Profile Image</label>
               {{ form.profile_image }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save New User</button>
         </form>
      </div>
      <div class="col-1"></div>
   </div>
</div>

{% endblock %}