{% extends 'base.html' %}
{% load static %}
{% block menu %}
<hr>
<ul class="nav nav-pills flex-column mb-auto">
   <li class="nav-item">
      <a href="./" class="nav-link active" aria-current="page">🏠 Home</a>
   </li>
</ul>
<hr>
{% endblock %}
{% block body %}
<div class="col-11 offset-1">
   <h1> Welcome to Widget!</h1>
   <ol>
      {% for object in object_list|dictsort:"last_name" %}
      <li>
         <a href="{% url 'homepage:user-detail' pk=object.pk %}">
         {{ object.last_name }}, {{ object.first_name }} {{ object.middle_name }} 
         </a>
      </li>
      {% endfor%}
   </ol>
   <form action="{% url 'homepage:user-create' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Add Widget User</button>
   </form>
</div>
{% endblock %}