{% extends 'base.html' %}
{% load static %}
{% block menu %}
<hr>
<ul class="nav nav-pills flex-column mb-auto">
   <li class="nav-item">
      <a href="../../" class="nav-link text-white" aria-current="page">🏠 Home</a>
   </li>
</ul>
<hr>
{% endblock %}
{% block body %}
<div class="col-3 text-center">
	{% if object.profile_image.url is not null %}
    <img src="{{ object.profile_image.url }}" width="160" height="160">
	{% else %}
    <img src="{% static 'img/default.png' %}" width="160" height="160">
    {% endif %}
   <br><br>
   <p><b>{{ object.last_name }}, {{ object.first_name }} {{ object.middle_name }} </b></p>
</div>
<div class="col-8">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">ID #</th>
            <th scope="col">Email Address</th>
            <th scope="col">Department Name</th>
            <th scope="col">Home Unit</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>{{ object.id_num }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.department.dept_name }}</td>
            <td>{{ object.department.home_unit }}</td>
         </tr>
      </tbody>
   </table>
</div>
<div class="col-1">
</div>

{% endblock %}