{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <title>Homepage</title>
      {% block styles %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
      <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="all">
      {% endblock %}
   <body>
      <main>
         <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Widget Group 11</span>
            </a>
            {% block menu %}
            {% endblock %}
         </div>
         <div class="b-example-divider"></div>
         <div class="container">
            <div class="row" style="margin-top: 50px;">
               {% block body %}
               {% endblock %}
            </div>
         </div>
      </main>
   </body>
</html>