{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block body %}
  <link rel="stylesheet" type="text/css" href="{% static 'forums/style.css' %}">
    <h1>New Forum Post</h1>
    <hr>
  </body>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" value="Save Post">
  </form>
{% endblock %}
