{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block body %}
  <link rel="stylesheet" type="text/css" href="{% static 'forums/style.css' %}">
    <h1>Welcome to Widget’s Forum!</h1>
    {% if post_list %}
        <ul>
        {% for post in post_list %}
            <li>
              <h2>
                <a href="{% url 'forums:post_detail' post.pk %}">
                {{post.post_title}} by {{post.author.first_name}} {{post.author.last_name}}
              </a>
              </h2>
              <h3>dated {{post.pub_date}}:</h3>
              <p>{{post.post_body}}</p>
              <ul>
              {% for reply in post.reply_set.all %}
                <li>
                  Reply by {{reply.author.first_name}} {{reply.author.last_name}} {{reply.pubdate}}:<br>
                  {{reply.reply_body}}
                </li>
              {% endfor %}
              </ul>
            <hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
    <form action="{% url 'forums:add_post' %}">
      <input type="submit" value="New Forum Post" />
    </form>
{% endblock %}
