{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block body %}
  <link rel="stylesheet" type="text/css" href="{% static 'forums/style.css' %}">
  <form action="{% url 'forums:index' %}">
    <input type="submit" value="Back to Forums" />
  </form>
  <br>
  <span class="border border-secondary"><h1>{{post.post_title}}</h1></span>
  <h3>by {{post.author}} {{post.pub_date}}</h3>
  <p>{{post.post_body}}</p>
  <hr>
  <ul>
  {% for reply in post.reply_set.all %}
    <li>
      {{reply.author.first_name}} {{reply.author.last_name}}, {{reply.pubdate}}:<br>
      {{reply.reply_body}}
    </li>
  {% endfor %}
  </ul>
  {% endblock %}
