{% extends 'assignments/base.html' %}

{% block content %}
     <!-- PUT THE ORIGINAL CONTENT HERE -->
     {% for key, value in courses.items %}
        <p>{{ key }}</p>
        
        {% if value|length > 0 %}
        <ul>
            {% for assignment in value %}
                <li id="{{ assignment }}"> {{ assignment }}</li>
            {% endfor %}

        </ul>
        {% else %}
        <ul>
            <li>No assignments from this course yet.</li>
        </ul>
        {% endif %}
        
     {% endfor %}

     <a href="add/">Add a new assignment. </a>

     <script>
         let assignment_links = {{ url|safe }};
         for(o in assignment_links)
         {
            let li_id = document.getElementById(o);
            let prev_html = li_id.innerHTML;
            li_id.innerHTML = '<a href=assignment/'+assignment_links[o]+'/detail/>' + prev_html + "</a>";

            console.log(li_id.innerHTML);
         }
         //console.log(my_array);
     </script>
{% endblock %}