{% extends 'assignments/base.html' %}
<h2>New Assignment </h2>
{% block content %}
     <!-- PUT THE ORIGINAL CONTENT HERE -->
     <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}