<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Widget Group 11 | Assignments </title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/assignments/">Widget | Assignments </a>
        </div>
        
        </div>
    </nav>

    <!-- Content -->
    <div class="content container" style="padding-top: 12rem">
        <div class="row">
            <div class="col-md-8">
            <!-- This is where django puts the content -->
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <!-- Content -->
</body>
</html>