{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href = "{% static 'announcements/style.css' %}">
        <title>Widget Group 11</title>
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>