{% extends "announcements/base.html" %}

{% block content %}

<h1>{{ announcement.announcement_title }}</h1>
<h2>
    by {{announcement.author.first_name}} {{announcement.author.last_name}}, {{ announcement.pub_date|date:"d-m-Y" }}
</h2>

<a>{{announcement.announcement_body}}</a>
<ul>
    {% for reaction in reaction_list %}
    <li>
        {{reaction.reaction_name}}: {{reaction.tally}}

    </li>
    {% endfor %}
</ul>


{% load static %} 
<img src="{% static 'announcements/image.png' %}">

{% endblock %}