{% extends "announcements/base.html" %}

{% block content %}
    <h1>
        New Announcement
    </h1>

    <form action = "{% url 'widget_group_11:add_announcement' %}" method="POST">
        {% csrf_token %}
        {{ announcement_form.as_p }}

        <button class="button" type="submit">Save Announcement</button>
    </form>


    <a href = "{% url 'widget_group_11:index' %}">
        Return to announcements page
   </a>


{% endblock %}