{% extends "announcements/base.html" %}

{% block content %}
<h1>Announcement Board</h1>
<p>Important announcements:</p>

{% if announcement_list %}
<ul>
    {% for announcement in announcement_list %}
    <li>
        <a href="{% url 'widget_group_11:detail' announcement.id %}">
            {{announcement.announcement_title}} by
            {{announcement.author.first_name}} {{announcement.author.last_name}}
            dated {{ announcement.pub_date|date:"d-m-Y" }}
        </a>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>No announcements are available</p>
{% endif %} 

<a href = "{% url 'widget_group_11:add_announcement' %}">
     New Announcement
</a>


{% endblock %}
